
.home_div_bottom {
  text-align: center;

  .img_container{
    display: flex;
    height: 100%;
    justify-content: center;
  }
  .home_figure{
    padding: 10px;
  }
  .gallery__img{
  }
  .img_left{
    height: 600px;
  }
  .img_right{
    height: 280px;
  }
  .home_title{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }
  .home_text{
    font-size: 18px;
    margin: 2.5rem;
    line-height: 2;
  }
  .static {
    position:absolute;
    background: white;
  }
  .static:hover {
    opacity:0;
    }
}

#about {
    min-height: 786px;
    background: #ffffff;
    padding-top: 3rem;
    overflow: hidden;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 7rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .vertical {
    display: none;
  }
  .home_div_bottom .img_container {
    flex-wrap: wrap-reverse;
  }
  .horizontal_line {
      border-bottom: 2px solid black;
      display: block;
      width: 125px;
      margin: 0 auto;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .vertical {
    display: unset;
  }
  .home_div_bottom .img_container {
    flex-wrap: unset;
  }
}
