
.tag-container {
	display: flex;
	flex-direction: column-reverse;
	justify-content: end;
	margin: 5px;

}




.search-tag {

	background-image: linear-gradient(to bottom, #ff034a, #91012a);

	border-radius: 28px;

	color: #fafafa;  
	font-size: 20px;

	padding: 10px 15px; 
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin: 5px;

}

.search-tag:hover {
	background-image: -webkit-linear-gradient(top, #91012a,  #ff034a);

	text-decoration: none;	
}



