
.tag-container {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.search-tag {
	display: flex;
	justify-content: space-between;
	max-width: inherit;
	margin: 0 1rem;
}

.search-tag .remove {
	visibility: hidden;
}

.search-tag:hover .remove {
	visibility: visible;
}