.custom-search {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-left: -347%;
}
.custom-search-input {
  font-weight: 500;
  width: 99%;
  border: 2px solid #ccc;
  border-radius: 100px;
  padding: 10px 100px 10px 20px;
  line-height: 1;
  box-sizing: border-box;
  outline: none;

}

.custom-search-botton {
  position: absolute;
  right: 4px;
  top: 2px;
  bottom: 3px;
  border: 0;
  height: 91%;
  background: #d1095e;
  color: #fff;
  outline: none;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
}





















//*********** backup

input {
	// outline: none;
	padding: 15px;
	border: 0;
	width: 95%;
}

.search-container {
	margin: 0 10rem 0 27rem;
	min-width: 83rem;
}

.btn-primary {
	align-self: center;
	font-size: 1.5rem;
	justify-content: center;
	align-items: center;
	justify-self: center;
	justify-items: center;
}

.card {
	width: 18vw;
	margin-top: 2rem;
	align-self: flex-end;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
}

.card-body{
	padding: 0;
}

// // // Small devices (landscape phones, 500 and up)
// @media (min-width: 500px) {
//    .custom-search {
//     margin-top: 5%;
//     margin-left: 23%;
//   }
// }

// // // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .custom-search {
//     margin-left: 69%;
//   }
// }
