
.tag-container {
	display: flex;
	margin: 0 20px;
}

.search-tag {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.search-tag .remove {
	visibility: hidden;
}

.search-tag:hover .remove {
	visibility: visible;
}