.sign-up p, .sign-in p {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.custom-control-label {
  left: 9%;
  font-weight: 400;
}

.forgot-password,
.forgot-password a,
.login-alt,
.login-alt a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.login-alt a,
.forgot-password a {
  color: #167bff;
}

// Margin
.mr-alt {
  margin-right: 28%;
}
.mt-label {
  margin-top: 10%;
}
.my-2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

// padding
.custom-checkbox {
  padding: 5% 0;
}

  /* Sign up and Sign in */
.form-check-label {
  padding-right: 71%;
}

// User input
input {
  width: 74%;
}

// Password input
.form-text {
  padding: 5% 0;
  text-align: center;
}

@media (min-width: 576px) {
  form.sign-up {
    margin-top: 15%;
  }
}

// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  form.sign-up {
    margin-top: -5%;
  }
}
