@import "../../../styles/variables.scss";

$primary-color: rgb(238, 238, 238);
$navbar-color: black;

.button {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  margin-top: 6px;
  letter-spacing: 0.026em;
  cursor: pointer;
  font-size: 0.975rem;
  background-color: transparent;
  color: white;
  outline: none;
  text-decoration: none;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  button:hover, button:focus, button:active {
    color: #fff;
    border-color: #285e8e; /*set the color you want here*/
  }
}
.sign-up,
.sign-in {
  font-family: Noto serif;
  text-decoration: none;
}
.sign-up-btn {
  color: rgba(255, 255, 255, 0.5);
}

// Centers the navBar to display
.row {
    width: 94%;
    max-width: 1170px;
    margin: 0 auto;

  &.hide{
    display: none;
    // visibility: hidden;
  }
}
#logo {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-family: $title-font;
  font-size: 30px;
}

@media (min-width: 500px) {

  .navbar {
    // display: unset !important;
    z-index: 100;
    // visibility: unset !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #home {
    margin-top: 6%;
  }
  #sign-up {
    margin-bottom: 10%;
  }
  #map {
    margin-bottom: 3%;
  }



  .top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin: 20px;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 30px;
    position: absolute;
    background-color: $navbar-color;
    color: blanchedalmond;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar {
    border-radius: 4px;
    height: auto;
    width: 100%;
    right: 0;
    left: 0;
    background-color: #111111;
    // padding: 25px 40px;
    z-index: 100;
  }
  .navbar-nav .nav-link {
    border-bottom: 1px solid black;
  }
  .links {
    color: rgba(255, 255, 255, 0.5);
    margin-right: 55px;
    margin-top: 14px;
    min-width: 54px;
    font-size: 16px;
    text-decoration: none;
  }
  .link:hover,
  .links:hover,
  .sign-up:hover {
    color: #ccc !important;
    text-decoration: none;
  }
}

.dropdown-item {
  color: rgb(203, 201, 198);
  background-color: transparent;
  border-top-color: initial;
  border-right-color: initial;
  border-bottom-color: initial;
  border-left-color: initial;
}

// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .btn-block {
    width: 22%;
  }
}

// // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #home {
    margin-top: 0;
  }
  #sign-up {
    margin-bottom: 0;
  }
  .navbar {
    padding: 25px 40px;
    height: 75px;
    // z-index: -1;
  }
  .navbar-nav {
    padding: 0 2%;
    margin-right: 0 !important;
  }
  .navbar-expand-lg .navbar-nav {
    padding-left: 1.5rem;
  }
  .navbar-nav .nav-link {
    line-height: none;
    border: none;
  }
  .nav-link {
    padding: 0;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  .btn-block {
    max-width: 101px;
  }
}
