.myAlert-bottom{
  position: fixed;
  text-align: center;
  bottom: 5px;
  left: 76%;
  width: 21%;
  z-index: 1;
}

@media (min-width: 500px) {
  .myAlert-bottom {
    left: 51%;
    width: 47%;
  }
}
@media (min-width: 768px) {
  .myAlert-bottom {
    width: 14%;
    left: 85%;
  }
}
