.favorite_btn_container {
  cursor: default;
  text-align: center;
  font-size: 16px;
  font-weight: 500;

  .edit-btn:hover {
    color: #e19526;
  }
  .delete-btn:hover {
    color: red;
  }
}
.container .btn {
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: 30px;
  padding: 5px 5px;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: Transparent;
}
.desc {
  cursor: default;
}
.btn:focus { outline: none; }

.container #delete_icon { left: 25%; }

.btn:hover {
  // color: #cf3052;
}
