.favorite_btn {
  // visibility: hidden;
  position: relative;
  color: black;
  margin-right: 0rem;
  bottom: 4em;
  /* top: -111px; */
  /* right: 2.5em; */
  left: 15em;
  /* z-index: 5; */
}

.favorite_btn:hover {
  color:red;
}
