.header{
    height: 95px;
    width: 100%;
    // position: fixed;
    top: 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    z-index: 5;
    background-position: center;
    border-bottom: 3px solid rgba(221, 226, 227, 0.2);
    padding: 0px 1em;
    .wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 960px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding: 0px 1em;
    }
}
.auth{
  align-items: center;
  display: flex;
  // text-transform: uppercase;
  a {
    // margin: 0 1rem;
    color: #808080;
    font-size: 0.875rem;
  }
  .mr {
    margin-right: 2rem;
  }
  .link {
    text-decoration: none;
  }
  button {
    text-align: center;
    display: inline-block;
    letter-spacing: 0.026em;
    cursor: pointer;
    font-size: 0.875rem;
    font-family: "Source Sans Pro", Arial, sans-serif;
    // text-transform: uppercase;
    background-color: transparent;
    color: rgb(83, 20, 16);
    outline: none;
    padding: 8px 1.6em;
    text-decoration: none;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(83, 20, 16);
    border-image: initial;
  }
  button:hover, button:focus, button:active {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}
}
