.favorite__container{
	margin: 0 21rem 0 21rem;
}

.Edit {
	height: 300px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

article.banner_description.favorite {
	margin: 0;
	align-self: center;

	#description{
		margin: 0;
	}
}