.sidebar__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
}
.sidebar__container {
  width: 17rem;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  padding-top: 2rem;
  background-color: #fafafa;
  border-right: 3px solid #dde3e3;
  grid-row: 1 / 1;
  margin-left: 4rem;
  overflow: scroll;

  &.sidebar__container--form{
    width: 20vw;
  }

  .link{
    text-align: center;
  }
  .sidebar__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .sidebar__container {
    margin: 0;
    padding-top: 0;
    margin-left: 0%;
  }
}
// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .sidebar__container {
    margin-left: 3%;
  }
}
