$primary-color: rgb(238, 238, 238);

.App{
  width: 100vw;
}

.header {
  display: none;
}

body {
  background-color: $primary-color;
}

.home_div {


  .img_container{
    display: flex;
    height: 100%;
  }

  .gallery__img{
    width: 100vw;
    height: 700px;
    padding: 0px;
  }

  .top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin: 20px;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 30px;
    position: absolute;
    background-color: black;
    color: blanchedalmond;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home_top_bar_left_link{
    color: rgb(195, 193, 182);
  }

  #search_recipe{
    color: white;
  }

  .home_top_bar_left{
    display: flex;
    justify-content: space-between;
    width: 22vw;
  }

  .centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-content:center;
  }

  .horizontal_line{
    border-bottom: 2px solid 
    white;
    border-top: 2px solid 
    white;
    display: block;
    width: 200px;


  }
  .title_home_page{
    display: flex;
    
  }

  .title_text_home_page{
    color: white;
    font-size: 45px;
  }
 
  .text_description{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
  }

  .home_buttons{
    display: flex;
    justify-content: center;
  }
  
  .home_button{
    background: transparent;
    color: white;
    border: solid white;
    width: 220px;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }

  .home_button_left{
    margin-right: 30px;
  }
  .home_button:hover{
    background: white;
    color: black;

  }


}

