@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

.sidebar__container {
  position: absolute;
  height: fit-content;
}
.filter_container{
  display: flex;
  margin: auto;
  position: absolute;
}

@mixin styling() {
  background-color: white;
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.dd-wrapper {

  .dd-header {
    @include styling();
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    height: 50px;
    padding: 0 7px;
    padding-top: 10px;
    &__title {
      margin-left: 32%;
    }
    &__title--bold {
      font-weight: bold;
    }
    .dd-list{
      position: fixed;
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
      padding: 0;
      margin: 0;
      width: 100%;
    }
    li {
      list-style: none;

      &:first-of-type {
        > button {
          border-top: 1px solid #ccc;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
        }
      }

      &:last-of-type > button {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      button {
        display: flex;
        justify-content: space-between;
        background-color: #efefef;
        font-size: 16px;
        padding: 15px 20px 15px 20px;
        border: 0;
        border-bottom: 1px solid #ccc;
        width: 100%;
        text-align: left;
        border-left: 1px solid #ccc;
        border-radius: 1px solid #ccc;

        &:hover, &:focus {
          cursor: pointer;
          font-weight: bold;
          background-color: #ccc;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) and (min-width: 500px) {

  .row {
    width: 100%;
  }
  .filter_container {
    margin-left: 33%;
    margin-top: 20%;
  }
  .dd-wrapper {
    margin-left: -20%;
    margin-right: 31%;
    min-width: 140px;
  }
  .dd-list {
    background-color: white;
    padding-left: 29px;
  }
  .sidebar__container {
    margin-top: 16%;
    margin-left: 20%;
  }
}

// // Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .sidebar__container {
    margin-top: 15%;
    margin-left: 4%;
  }
  .filter_container {
    margin-left: 42%;
    margin-top: 5%;
  }
  .dd-wrapper {
    min-width: 130px;
    margin-left: 1%;
    margin-right: 7%;
    min-width: 130px;
  }
  .dd-list {
    background-color: white;
  }
}
