@import ".././../styles/variables.scss";

.seasonal_container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	margin: 0 auto;
	margin-top: 5%;
	overflow: hidden;

	.fader{
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: white;
		animation: fadeOut 1s 3s forwards;
		z-index: 10;
	}
}

.seasonal_banner{
	width: 100%;
	height: 200px;
	margin-top: 150px;
	display: flex;
	flex-direction: row;
	.banner_left{
		height: inherit;
		width: 50%;
		background-image: url("./ingredient-banner.jpg");
		background-repeat: no-repeat;
		visibility: hidden;
		animation: unHide 0s 1.5s forwards;
	}

	.seasonal_revealer{
		display: flex;
		flex-direction: column;
		position: absolute;
		background-color: grey;
		visibility: hidden;
		width: inherit;
		height: inherit;
		margin-bottom: 30px;
		animation: slideIn 1s 1s forwards, slideOut 1s 2s forwards;
	}
}
.grids_container{
	display: flex;
	flex-wrap: wrap;
	position: relative;
  overflow: hidden;
  margin-left: 3.5%;


	&::after{
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: white;
		animation: swipe 0.6s 0.6s both;
	}

	&-active{
		display: flex;
		flex-wrap: wrap;
    position: relative;
    justify-content: center;
  }
}

.ingredient {
  color: #4e4e4e;
  font-weight: 500;
}

.grid__img{
  margin: 1rem 0.5rem;
  -webkit-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.48);
  -moz-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.48);
  box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.48);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  margin-top: 8%;
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.grid__title{
  text-align: center;
}

.grid__card{
	opacity: 0;
	transition: .1s;
	border: white solid .1px;
	margin: 24px;
	font-family: $description-font;


  img {
    // margin: 1rem 0.5rem;
    -webkit-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.48);
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.48);
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}

.banner_description{
	display: flex;
	height: 100%;
	margin: 1rem 0 0 5rem;
}

.card:hover{
	opacity: 1;
	cursor: pointer;
}

.card-title {
  margin-top: 0.75rem;
  font-size: 20px;
  font-weight: 500;
}

.banner_content{
	font-family: Noto serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
	opacity: 0;
	animation: fadeIn 1s 2.3s forwards;
}
.mx-20 {
  margin: 0 20%;
}

#seasonal_title{
  font-family: Noto serif;
  margin: 3% 0;
  padding-left: 2%;
  align-self: center;
  font-size: 30px;
}

#month{
  font-size: 24px;
}

#description{
  text-align: center;
  margin-right: 18%;
  margin-left: 7%;
	font-size: 18px;
	font-family: $description-font;
}




@keyframes unHide {
  100% {
    visibility: unset;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
	100% {
	  opacity: 0;
	}
  }

@keyframes slideOut {
  0% {
    visibility: visible;
    // right: 0%;
    // transform: translateX(0);
	}
  100% {
		visibility: visible;
		width:50%;
		transform: translate(100%);
  }
}

@keyframes swipe {
	0% {
		visibility: visible;
    // transform: translateX(0);
	}
  100% {
		visibility: visible;
		transform: translate(100%);
  }
}

@keyframes slideIn {
  0% {
		visibility: visible;
    width:0
  }
  100% {
    width: 100%;
  }
}
