$primary-color: rgb(238, 238, 238);
$navbar-color: black;

.home_div {
  .img_container{
    display: flex;
    height: 100%;
  }
  .gallery__img{
    width: 100vw;
    height: 700px;
    padding: 0px;
  }
  .top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin: 20px;
    padding: 15px;
    padding-bottom: 10px;
    padding-top: 30px;
    position: absolute;
    background-color: black;
    color: blanchedalmond;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #search_recipe{
    color: white;
  }

  .home_top_bar_left{
    display: flex;
    justify-content: space-between;
    width: 22vw;
  }
  .centered {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .horizontal_line{
    border-bottom: 2px solid
    white;
    border-top: 2px solid
    white;
    display: block;
  }
  .title_home_page{
    display: flex;
  }
  .title_text_home_page{
    color: white;
    font-size: 45px;
  }
  .text_description{
    padding-top: 30px;
    color: white;
    display: flex;
    justify-content: center;
  }
  .home_buttons{
    display: flex;
  }
  .home_button{
    background: transparent;
    color: white;
    border: solid white;
    width: 220px;
    font-size: 25px;
    display: flex;
    justify-content: center;
  }
  .home_button_left{
    margin-right: 30px;
  }
  .home_button:hover{
    background: white;
    color: black;
  }
}

@media (min-width: 500px) {
  .title_text_home_page {
    text-align: center;
  }
  .centered {
    top: 45%;
  }
  .home_div, .horizontal_line {
    width: 151px;
  }
  .text_description {
    padding-bottom: 5%;
  }
  .vertical {
    display: none;
  }
  #bottom_bar_home a {
    margin: 0 auto;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .vertical {
    display: unset;
  }
  .home_div .gallery__img {
    object-fit: cover;
  }
  .home_div .horizontal_line {
    width: 129px;
  }
  .centered {
    top: 350px;
  }
  .text_description {
    padding-bottom: 125px;
    font-size: 28px;
  }
}
.figure {
  z-index: -1;
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .centered {
    top: 400px;
  }
}
