@import '../../styles/variables.scss';

.sidebar {
  background-color: $dark-background;
  box-shadow: 0px 4px 8px rgba($dark-background, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  min-height: 100vh;
	padding: $spacing 0;
	
	a{
		align-self: center;
	}

  h1{
    color: $primary;
  }

  &--centered {
    align-self: center;
  }

  &__separator {
    width: 90%;
    margin: $spacing 0;
    border: solid 1px;
    color: darken($white, 5%);
  }

  &__menu {
    flex: 1;
  }

  &__lhl {
    margin-top: 2rem;
  }
}