@import '../../styles/variables.scss';

.fkcKbM {
    padding-top: 56px;
    padding-bottom: 1.5em;
    width: 57.6px;
    height: 100%;
    background-color: rgb(51, 51, 51);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.sidebar {
  width: 4em;
  background-color: #333333;
  box-shadow: 0px 4px 8px rgba(34, 47, 62, 0.5);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 0;
  position: fixed;
  // z-index: 4;

	a{
		align-self: center;
	}

  h1{
    color: $primary;
  }

  &--centered {
    align-self: center;
  }

  &__separator {
    width: 90%;
    margin: $spacing 0;
    border: solid 1px;
    color: darken($white, 5%);
  }

  &__menu {
    flex: 1;
  }

  &__lhl {
    margin-top: 2rem;
  }
}
.sidebar__items{
  display: flex;
  flex-direction: column;

  a {
      margin-bottom: 1.5em;
  }
}
.auth-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  text-align: left;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.tooltip-top > .tooltip-inner {
  margin-left: 10px ;
  background-color: #fff;
  color: #000;
  border: 1px solid #062e56;
}

.tooltip-top > .tooltip-arrow {
  border-top: 5px solid #062e56;
}
