/* base style */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');


$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;

$dark-background: #222f3e;

$weeks-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;
$booked-color: #54a0ff;
$danger-color: #ee5253;
$error-color: #ff9f43;
$confirm-color: #10ac84;

$spacing: 2rem;


:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;

}

/* base styles & title */
body{
  height: 100vh;
  width: 100vh;
  font-family: "Noto Serif";
  color: var(--secondary);
}

.container{
  display: flex;
}

.App{
  max-width: 960px;
  margin: 0 auto;
}

.sidebar {
  background-color: $dark-background;
  box-shadow: 0px 4px 8px rgba($dark-background, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  padding: $spacing 0;

  &--centered {
    align-self: center;
  }

  &__separator {
    width: 90%;
    margin: $spacing 0;
    border: solid 1px;
    color: darken($white, 5%);
  }

  &__menu {
    flex: 1;
  }

  &__lhl {
    margin-top: 2rem;
  }
}

.title h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */


/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid{
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* equal width */
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, regardless of weidth it is always a perfect square */
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* black and semi-transparent */
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto; /* position image in the middle */
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}
